/* 
    Created on : Aug 25, 2016, 12:53:08 AM
    Author     : Andre
*/
html,body{
    margin:0;
    height:100%;
    overflow:auto;
}
.header{
    top: 0px;
    width:100%; 
    text-align:center;
    background: url('../img/bottom.png') repeat-x bottom left, url('../img/header.png') repeat top left;
    padding-bottom: 30px;
}
.logo{
    padding:20px 0px 20px 0px;
    margin:auto;
}

nav{
    margin: 20px auto 0 auto;
    height: 85px;
}

li a, li a:hover, li a:visited{
    text-decoration:none;
}

.footerContainer{
    bottom:0;
    text-align:center;
    background: url('../img/top.png') repeat-x top left, url('../img/header.png') repeat top left;
    padding-bottom: 30px;
    height: 100px;
    width:100%;
}

.footerContainer *{
    margin:40px 0 0 0;
    text-align:center;
}

.footer{
    width:80%;
    height:100%;
    margin:auto;
}

.content{
    padding: 60px 0px 60px 0px;
    margin:auto;
}