<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="pt" ng-app="galeriaModule">
    <head>
        <title>Loja Tababy</title>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="js/jquery-3.1.0.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script type="text/javascript" src="js/bootstrap.js"></script>
        
        <!-- Angular javascripts -->
        <script src="js/angular.min.js" type="text/javascript"></script>
        <script src="js/angular-products.js" type="text/javascript"></script>
        
        <link rel="stylesheet" type="text/css" href="css/page.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="header">
                <a href="index.html">
                    <img class="img-responsive center-block" src="img/tababy.png" alt="Logotipo Tababy">
                </a>
            <nav>
                <ul class="list-inline">
                    <li>
                        <a href='index.html'>Home</a>
                    </li>
                    <li>
                        <a href='produtos.html'>Produtos</a>
                    </li>
                    <li>
                        <a href='sobre.html'>Sobre</a>
                    </li>
                    <li>
                        <a href='localizacao.html'>Localização</a>
                    </li>
                    <li class="last">
                        <a href='contato.html'>Contato</a>
                    </li>
                </ul>
            </nav>
        </div>
        
        <div class="contentContainer">
            <div class="content">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2 panel panel-body">
                        <div class="row" ng-controller="GalleryController as galeria">
                            <div class="col-lg-4 productBox" ng-repeat="produto in galeria.produtos">
                                <div class="text-center productContent">
                                    <h1 class="text-center produto-nome">{{produto.nome}}</h1>
                                    <img class="img-thumbnail img-responsive" src="{{produto.thumbnailURI}}">
                                    <p class="text-center">{{produto.descricao}}</p><br/>
                                    <!-- Botão do Modal -->
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#Modal{{produto.id}}">
                                        <span class="glyphicon glyphicon-resize-full"> Expandir</span>
                                    </button>

                                    <!-- Modal -->
                                    <div id="Modal{{produto.id}}" class="modal fade" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                            <!-- Galeria dentro do Modal -->
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div id="galeria{{produto.id}}" class="carousel slide" data-ride="carousel">
                                                        <!-- Indicadores -->
                                                        <ol class="carousel-indicators">
                                                            <li ng-repeat="imagem in produto.imagens" data-target="#galeria{{produto.id}}" data-slide-to="{{$index}}" ng-class="{active:$first}"></li>
                                                        </ol>
                                                        <!-- Wrapper dos slides -->
                                                        <div class="carousel-inner" role="listbox" >
                                                            <div ng-repeat="imagem in produto.imagens" class="item" ng-class="{active:$first}">
                                                                <img src="{{imagem}}" alt="{{produto.nome}}">
                                                            </div>
                                                        </div>
                                                        <!-- Controles -->
                                                        <a class="left carousel-control" href="#galeria{{produto.id}}" role="button" data-slide="prev">
                                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="right carousel-control" href="#galeria{{produto.id}}" role="button" data-slide="next">
                                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar Galeria</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerContainer">
            <div class="footer">
                <div class="pull-left" id="address">
                    Rua Conrado Cabral, 788<br>
                    Monte Castelo<br>
                    Fortaleza-CE, Brasil
                </div>
                <div class="pull-right" id="contacts">
                    Facebook/Instagram
                </div>
            </div>
        </div>
    </body>
</html>